.mvn/wrapper/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/


####   Maven  ####
mvnw
mvnw.cmd
**/target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties


####   Java   ####

# Compiled class file
*.class

# Log file
*.log

HELP.md
!**/src/main/**/target/
!**/src/test/**/target/